@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

@media only screen and (max-width: 768px) {
  /*  mobile */
  .backdrop-blur {
    --tw-backdrop-blur: blur(0px)!important; 
  }

  .clavellino {
    font-size: 5.5rem!important;
  }

  .my-16 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
  }

  .description {
    padding-left: 1rem!important;
    padding-right: 1rem!important
  }
  .mt-32 {
    margin-top: 5.5rem!important;
    margin-bottom: 1rem!important;
}
  .logos {
    max-width: 46%!important;
    padding: 0px!important;

  }
  .titlepr {
    font-size: 20px!important;
  }
}

@media only screen and (min-width: 768px) {

  .logos{
    max-width: 75%;
  }
  .clavellino {
    font-size: 10rem!important;
  }
  
  .my-16 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
  }
  
  .backdrop-blur {
    --tw-backdrop-blur: blur(0px)!important; 
  }
  
  .p-6 {
    padding: 2rem!important;
  }
  
  .menufront  {
    padding-right: 9rem!important;
    padding-left: 9rem!important;
    padding-top: 4rem!important;
  }
  
  .lg\:pb-48 {
    padding-bottom: 9rem!important;
    padding-top: 7.5rem!important;
  }
  

}



